@font-face {
  font-family: Gill Sans MT;
  src: url(fonts/Gill-Sans-MT.TTF);
}
@font-face {
  font-family: Bangers;
  src: url(fonts/Bangers-Regular.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Optional background color */
  align-items: center;
}
.header {
  width: 100%; /* Make the header span the full width of the page */
  height: 450px; /* Adjust the height of the header */
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  overflow: hidden; /* Hide any overflow */
  position: relative; /* Ensure positioning context for absolute elements */
  background-color: white; /* White background for the header */
}
.header img {
  width: 100%; /* Make the image cover the full width of the header */
  height: 100%; /* Make the image cover the full height of the header */
  object-fit: cover; /* Ensures the image covers the area without distortion */

  position: absolute; /* Ensure image is behind the text */
  top: 0;
  left: 0;
  z-index: 0; /* Ensures image is below the text */
}
.header::before {
  content: "";
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 70%
  );
  z-index: 1; /* Ensures gradient overlay stays on top of the image */
}
h1 {
  font-family: Bangers;
  font-size: 36px;
  color: #2e004f;
  text-align: center;
  letter-spacing: 0.5px;
  z-index: 1;
}
h2 {
  color: #2e004f;
  font-family: Gill Sans MT;
  font-weight: lighter;
  font-size: 24px;
  text-align: center;
}
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-link {
  background-color: #f1f1f1;
  border: none;
  padding: 14px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.tab-link:hover {
  background-color: #ddd;
}

.tab-link.active {
  background-color: #ccc;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.intro {
  padding: 30px;
  font-family: Bangers;
  font-size: 32px;
  font-weight: bold;
  color: #2e004f;
  max-width: 800px;
  margin: auto;
  text-align: center;
  letter-spacing: 0.5px;
}
.intro-anime {
  padding: 30px;
  font-family: Gill Sans MT;
  font-size: 16px;
  line-height: 1.5;
  max-width: 800px;
  margin: auto;
}
img {
  border: 0;
}
.titlesect p {
  text-align: center;
  font-family: Gill Sans MT;
  font-size: 16px;
}
.intro-p {
  text-align: center;
  font-family: Gill Sans MT;
  font-size: 16px;
}
